# 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [30]:
with open("dataset/popular-names.txt", mode="r") as f:
    t = f.read()
line_count = len(t.splitlines())
print(line_count)

2780

# 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [21]:
import re
res = re.sub(r'\t', " ", t)
res[:100]

'Mary F 7065 1880\nAnna F 2604 1880\nEmma F 2003 1880\nElizabeth F 1939 1880\nMinnie F 1746 1880\nMargaret'

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [37]:
col1 = ['']*line_count
col2 = ['']*line_count

with open("dataset/popular-names.txt", mode="r") as f:
    t = f.read()
    for i,l in enumerate(t.splitlines()):
        col1[i], col2[i] = re.split(r'\t', l)[:2]
        
with open('output/col1.txt', mode="w") as f:
    f.write('\n'.join(col1))

with open('output/col2.txt', mode="w") as f:
    f.write('\n'.join(col2))

# 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [43]:
with open('output/col1.txt', mode='r') as f:
    col1 = f.read().splitlines()

with open('output/col2.txt', mode='r') as f:
    col2 = f.read().splitlines()

res = '\n'.join(['\t'.join([e1,e2]) for e1, e2 in zip(col1, col2)])

with open('output/joined-col1-and-col2.txt', mode='w') as f:
    f.write(res)

# 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [69]:
def multiple_input(p="first"):
    print('if you stop inputting, please enter with no characters')
    res = []
    while True:
        res.append(input())
        if res[-1] == '':
            break
    if p == "first":
        print('your first input : ', res[0])
    else:
        print('your last input : ', res[-2])
    return res[:-1]

In [70]:
multiple_input()

if you stop inputting, please enter with no characters

 43127890
 54732890
 324-059

your first input :  43127890

['43127890', '54732890', '324-059']

# 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [71]:
multiple_input(p="last")

if you stop inputting, please enter with no characters

 543290-
 654783
 23-40958
 548392-
 134859-0
 65-04398

your last input :  65-04398

['543290-', '654783', '23-40958', '548392-', '134859-0', '65-04398']

# 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [102]:
n = int(input())
with open('dataset/popular-names.txt', mode='r') as f:
    t = f.read().splitlines()

res = []
size = len(t) // n
total = len(t)
starts = list(range(0, total, size))
ends = starts[1:] + [total]
for s, e in zip(starts, ends):
    fn = "output/ignore_lines_from_{s}_to_{e}.txt".format(s=s,e=e)
    with open(fn, mode='w') as f:
        f.write('\n'.join(t[s:e]))

 5

# 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [104]:
with open('dataset/popular-names.txt', mode='r') as f:
    t = f.read()
set(t)

{'\t',
 '\n',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'R',
 'S',
 'T',
 'V',
 'W',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

# 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [116]:
import numpy as np


with open('dataset/popular-names.txt', mode='r') as f:
    t = f.read().splitlines()

res = np.array([e.split('\t') for e in t])
res.sort()

array([['Mary', 'F', '7065', '1880'],
       ['Anna', 'F', '2604', '1880'],
       ['Emma', 'F', '2003', '1880'],
       ...,
       ['Lucas', 'M', '12585', '2018'],
       ['Mason', 'M', '12435', '2018'],
       ['Logan', 'M', '12352', '2018']], dtype='<U11')

In [124]:
import pandas as pd
df = pd.DataFrame(res, columns=['name', 'sex', 'count', 'year'])
df['count'] = [int(e) for e in df['count']]
df.sort_values('count', ascending=False)

         name sex  count  year
1340    Linda   F  99689  1947
1360    Linda   F  96211  1948
1350    James   M  94757  1947
1550  Michael   M  92704  1957
1351   Robert   M  91640  1947
...       ...  ..    ...   ...
27      Annie   F   1326  1881
28     Bertha   F   1324  1881
8      Bertha   F   1320  1880
29      Alice   F   1308  1881
9       Sarah   F   1288  1880

[2780 rows x 4 columns]

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [125]:
df['name'].value_counts()

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Scott        1
Rachel       1
Kelly        1
Crystal      1
Lucas        1
Name: name, Length: 136, dtype: int64